\

body{
    justify-content: center;
    box-sizing: border-box;
    background-color: azure;
    

}


p{
    color: white;
    position: absolute;
    justify-content: center;
    height: 450px;
    font-size: 70px;
    font-weight: bold;
    background: linear-gradient(90deg, );
    font-family: "Workbench", sans-serif;
    letter-spacing: 8px;
    
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;

}
.absolute{
    position: absolute;
    top: 50px !important;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; 

}
.justify-center{ 
    justify-content: center;

}

.bg-shape1{
    width: 200px;
    height: 200px;
    border-radius: 9px;
    position: relative;
    animation: one 10s infinite;

}
.bg-shape2{
    width: 300px;
    height: 300px;
    border-radius: 199px 60px;
    position: relative;
    animation: two 5s infinite;
}
.bg-shape3{
    width: 200px;
    height: 200px;
    border-radius: 221px  ;
    position: relative;
    animation: three 5s infinite;

}
@keyframes one {
    0% {left: 0px; top: 0px;}
    25% {left: -50px; top: -50px;}
    50% {left: -75px; top: -100px;}
    75% {left: -100px; top: -150px;}
    100% {left: 0px; top: 0px;}
}

@keyframes two {
    0% {left: 0px; top: 0px;}
    25% {left: 25px; top: 50px;}
    50% {left: 50px; top: 100px;}
    75% {left: 75px; top: 150px;}
    100% {left: 0px; top: 0px;}
}

@keyframes three {
    0% {left: 0px; top: 0px;}
    25% {left: -25px; top: -50px;}
    50% {left: -50px; top: -100px;}
    75% {left: -75px; top: -150px;}
    100% {left: 0px; top: 0px;}
}
.btn{
    border: none;
    width: 100px;
    font-family: "Workbench", sans-serif;
    height: 100px;
    color: #fff; 
    padding: 10px 20px; 
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem;
    border-radius: 25px;
    background-size: 400%;
    z-index: 1;
    opacity: 80%;
    filter: blur(0.5px);
    
    
   
}
.yellow{
    background: #f3d633;
    &:active {
        
        opacity: 70%;
        box-shadow: 
        0 0 20px #f3d633,
        0 0 20px #f3d633,
        0 0 30px #f3d633;
      
      }
}
.red{
    background: #f33383;
    &:active {
        
        opacity: 70%;
        box-shadow: 
        0 0 20px #f33383,
        0 0 20px #f33383,
        0 0 30px #f33383;
      
      }
}

.blue{
    background: #296487;
    &:active {
        
        opacity: 70%;
        box-shadow: 
        0 0 20px #296487,
        0 0 20px #296487,
        0 0 30px #296487;
      
      }
}



.opacity-50{
    opacity: .5;
}
.bg-blur{
    filter:blur(70px);
}

.bg-primary{
    background-color: rgb(226, 223, 46);
}
.bg-teal{
    background-color: rgb(107, 0, 128);
}
.bg-purple{
    background-color: #f33383;
}
